# Core dependencies
selenium==4.31.0
pytest==8.0.2

# Pytest plugins
pytest-html>=4.1.1
pytest-xdist>=3.5.0
pytest-timeout>=2.2.0
allure-pytest>=2.13.2

# WebDriver management
webdriver-manager>=4.0.1 